body{
  background-color: rgb(128, 192, 226);
  margin-left: 0px;
  margin-right: 0px;
}
nav {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px;
  margin: -8px;
  margin-bottom: -20px;
}
header{
  margin-top: 5px;
}
html {
  scroll-behavior: smooth;
  background: linear-gradient(to bottom,rgb(255, 255, 255) ,rgb(90, 90, 90)0%);
}
main{
  animation: transitionIn 0.75s;
}
footer{
  background-color: rgb(90, 90, 90);
  background: linear-gradient(to bottom,rgb(128, 192, 226) ,rgb(90, 90, 90)70%);
  margin: -8px;
  margin-top: 8px;
  padding: 10px;
  text-align: center;
}

@keyframes transitionIn{
  from{
      opacity: 0;
      transform:rotateX(-10deg)
  }
  to{
      opacity: 1;
      transform: rotateX(0);
  }
}
.indice{
  margin-top: 20px;
}
.ifnor{
 text-align: center;
 text-decoration: wavy;
}
.navbar_a{
  background: linear-gradient(to bottom,rgb(255, 255, 255)60%,rgb(128, 192, 226));
  margin-bottom: 50px;
}
.navbar_b{
  font-size: x-large;
  font-style: italic;
}
.navbar_c{
  background: linear-gradient(to bottom,rgb(255, 255, 255)60%,rgb(128, 192, 226));
  margin-bottom: 50px;
}
.minmarg{
  margin-top: 10px;
}

.ig{
  height: 60px;
  width: 60px;
}
.gmail{
  height: 50px;
  width: 60px;
  margin-bottom: 5px;
}

.cabecero2{
    padding: 25px;
    margin: 25px;
    background-image: url(../fotos/DSC_07496.jpg);
    background-size: cover;
    background-position: center;
    font-style: italic;
    margin-bottom: 15px;
    margin-top:30px ;
    font-size: large;
    border-radius: 5px;
    border-color: white;
    border: 1px solid #ffffff;
}
.logolateral{  
    width: auto;
    height: auto;
    max-height: 72px;
    max-width: 250px;  
}

.semiwhitebackground1{
    background-color: rgba(255, 255, 255, 0.542);
    padding: 10px;
    border-radius: 5px;
    }
  .semiwhitebackground2{
    background-color: rgba(255, 255, 255, 0.542);
    padding: 10px;
    border-radius: 5px;
    }
.getbigger:hover{
    font-size: medium;
    transition: 0.1s;
    color: tomato;
}

.getbigger{
    transition: 0.6s;
    text-decoration: wavy;
    text-shadow:0px 0px 10px #0000006e;
    display: inline-block;
    padding: 5px 5px 5px;
    border-radius: 2px;
    color: rgb(120, 120, 120);
    margin-left: 5px;
    margin-right: 5px;
}
.largecharacters{
    font-size: larger;
}
.center{
    text-align: center;
}

.return{
    display: inline-block;
    text-align: center;
    padding: 5px;
    width:200px;
    border: 1px solid #919191;
    border-radius: 5px;
    color: #6b6b6b;
    font-size: larger;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.219);
    margin-left: 20%;
    margin-top: 10px;
}  
.return:hover{
    background-color: rgba(0, 0, 0, 0.446);
    transition: 0.4s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
    border: 1px solid #000000;
    padding: 10px;
    color: rgb(255, 255, 255);
}
 
/* de aqui para abajo es css de el slider */

.slider-wrap {
  padding: 15px;
  width: 80%;
  height: 55%;
  margin: 70px auto;
  position: relative;
  border: #000000 2px solid;
}
.slider {
  overflow-x: scroll;
}
.holder {
  width: max-content;
}
.slide {
  float: left;
  width: 350px;
  height: 225px;
  position: relative;
  background-position: -100px 0;
}
.temp {
  position: absolute;
  color: white;
  font-size: 35px;
  bottom: 15px;
  left: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
}
#slide-0 {
  background-image: url(../fotos/DSC_07496.jpg);
  background-size: cover;
  background-position: center;
  max-width: auto;
  max-height: auto;
}
#slide-1 {
  background-image: url(../fotos/DSC_0593.JPG);
  background-size: cover;
  background-position: center;
}
#slide-2 {
  background-image: url(../fotos/DSC_0624.JPG);
  background-size: cover;
  background-position: center;
}
#slide-3 {
  background-image: url(../fotos/DSC_0301.JPG);
  background-size: cover;
  background-position: center;
}
#slide-4 {
  background-image: url(../fotos/DSC_1057.JPG);
  background-size: cover;
  background-position: center;
}

.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}
.slider-div {
  text-align: center;
}
.slider-div a {
  text-decoration: wavy;
  background: #daedfaa8;
  display: inline-block;
  padding: 5px 5px 5px;
  border-radius: 2px;
  color: rgb(114, 114, 114);
  margin-left: 5px;
  margin-right: 5px;
}

.slider-div a.active {
  background: #999;
}

/* css del slider */




