body{
    background-color: rgb(86, 130, 153);
    margin-left: 100px ;
    margin-right:  100px;
}
.cabecero{
    padding: 50px;
    margin: 100px;
    background-image: url(DSC_0749.JPG);
    background-position-y: 500px;
    background-position-x: center;
    background-size: cover;
    font-style: italic;
    margin-left: 100px ;
    margin-right:  100px;
    margin-bottom: 15px;
    margin-top:30px ;
    font-size: x-large;
    border-radius: 5px;
    border-color: white;
    border: 1px solid #ffffff;
}
.cabecero2{
    padding: 25px;
    margin: 100px;
    background-image: url(DSC_0749.JPG);
    background-position-y: 470px;
    background-position-x: center;
    background-size: cover;
    font-style: italic;
    margin-left: 100px ;
    margin-right:  100px;
    margin-bottom: 15px;
    margin-top:30px ;
    font-size: large;
    border-radius: 5px;
    border-color: white;
    border: 1px solid #ffffff;
}
.logolteral{
    float:right;
    max-width: 300px;
    margin-right:  100px;
}
.semiwhitebackground1{
    background-color: rgba(255, 255, 255, 0.542);
    margin-right: 500px;
    padding: 10px;
    border-radius: 5px;
}
.getbigger:hover{
    font-size: larger;
    transition: 0.2s;
    color: tomato;
}
.getbigger{
    transition: 0.6s;
}
.largecharacters{
    font-size: larger;
}
.center{
    text-align: center;
}
.return{
    display: inline-block;
    text-align: center;
    padding: 5px;
    width:200px;
    border: 1px solid #111111;
    border-radius: 5px;
    color: #ffffff;
    font-size: larger;
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.219);
    margin-left: 10px;
}  
.return:hover{
    background-color: rgba(0, 0, 0, 0.446);
    transition: 0.4s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
    border: 1px solid #ffffff;
    padding: 15px;
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  @media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
      width: 120px ;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
      width: 320px ;
    }
  }
  @media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 480px ;
    }
  }
  
  /* code that is here will apply to any screen size */
  @media screen and (orientation:portrait) {
    /* ... */
  }
  @media screen and (orientation: landscape) {
    /* ... */
  }